.createPostForm {
    width: 80%;
    min-height: 200px;
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 20px;
    margin-bottom: 20px;
}

.uploadBtn {
    margin-top: 10px;
    width: 200px;
    height: 30px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: rgb(41, 187, 255);
    color: #fff;
    border-radius: 5px;
}

.uploadBtn:hover {
    filter: brightness(70%);
}
